.center {
	text-align: center;
}

.pred {
	color: red;
}

.pblue {
	color: blue;
}

.pgreen {
	color: green;
}

.pbig {
	font-size: x-large;
}

.ptiny {
	font-size: x-small;
}

.bold {
	font-weight: bold;
}

.font {
	font-family: Arial, Helvetica, sans-serif;
}

.multi {
	font-size: large;
	color: orange;
	font-weight: bold;
}

.styledFont {
	color: orchid;
	font-weight: bolder;
}

#styledImage {
	border-style: solid;
	border-color: orange;
	border-width: 10px;
}
